/*
 * Style for preferences
 */
label {
    display: block;
}
fieldset input, fieldset select {
    width:100%;
}
fieldset .help {
    font-size:12px;
    background-color:#FFF;
    border: 0;
    padding:0px;
}

/*
 *  Style for the gadget
 */
a:visited {
    color:#333333;
}

#footer {
    border-top-color:#C3C3C3;
    border-top-style:solid;
    border-top-width:1px;
    margin-top:10px;

}

#body span {
    margin-right:2px;   
}

/*
 * CSS code of Sonar (http://sonar.codehaus.org/)
 */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
del,ins{text-decoration:none;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
body{text-align:center;}
#ft{clear:both;}
#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}
#doc2{width:73.076em;*width:71.25em;}
#doc3{margin:auto 10px;width:auto;}
#doc4{width:74.923em;*width:73.05em;}
a,a:link,a:visited{text-decoration:none;border-bottom:0;}
.noprint{display:none!important;}
.print{display:inline;position:static;left:0;}
#hd,#hdnav{display:none;}
.yui-t1 #yui-main{float:none;margin-left:0!important;}
.yui-t1 #yui-main .yui-b{margin-left:0;}
#sidebar{display:none;margin:0;}
#page{float:none;margin:0;padding:0;}
}
@media screen{.print{display:none;}
}
html,body{height:100%;}
body{background-color:#FFF;color:#333;font-family:Arial,Helvetica,sans-serif;text-align:left;}
#hd{background:#262626;padding:0 5px;}
#hdnav{height:30px;line-height:29px;margin-bottom:0;padding:0 10px 0 0;font-size:93%;}
#hdnav ol{padding-top:0;list-style-type:none;}
#hdnav ol li{float:left;color:#fff;margin:0;padding:0 10px 0 5px;}
#hdnav li.nav a,#hdnav li.nav a:visited{color:#fff;text-decoration:none;border:0;}
#hdnav li.nav a:hover{color:#4b9fd5;}
#hdadmin{float:right;text-align:right;}
#hdadmin img{vertical-align:text-bottom;}
#nonav{text-align:left;margin:50px 180px 0;}
#projectSearch{color:#444;margin:4px 0 0 0;}
#projectResults{position:relative;background:#fff;color:#111;line-height:1em;border:1px solid #ccc;z-index:999999;margin:0;padding:0;}
#projectResults ul{list-style-type:none;margin:0;padding:0;}
#projectResults ul li.selected{background-color:#4b9fd5;color:#fff;margin:0;}
#projectResults ul li{float:none;display:block;list-style-type:none;cursor:pointer;color:#333;margin:0;padding:5px 10px;}
#section{color:#262626;margin-bottom:15px;text-align:left;line-height:1.1em;background-color:#CAE3F2;border:2px solid #4b9fd5;border-top:0;padding:10px 0;}
#section li{list-style-type:none;padding:3px 0 3px 8px;}
#section .selected{background-color:#4b9fd5;}
#section a,#sidebarpages a:visited{text-decoration:none;border-bottom:0;}
#section a:hover{color:#4b9fd5;}
#section .selected a,#section .selected a:hover,#section.selected a:visited{font-weight:bold;color:#efefef;}
#sidebarconf{margin-top:10px;background-color:#eee;line-height:1.1em;border:2px solid #ccc;color:#333;padding:10px;}
#logo{text-align:center;padding:8px 0;}
#logo a{text-decoration:none;border-bottom-width:0;}
#logo img{display:block;}
#ft{padding:10px 0;}
#ftlinks{background:#fff;color:#262626;text-align:center;border-top:1px solid #fff;font-size:85%;padding:4px 0;}
.loading{background-image:url("../images/loading.gif");background-position:4px 2px;background-repeat:no-repeat;color:#777;padding:3px 25px;}
.right{text-align:right;}
.left{text-align:left;}
code{font-size:93%;}
.hidden{display:none;visibility:hidden;}
.clear{clear:both;}
.note{color:#777;font-size:93%;font-weight:normal;}
.crossout{text-decoration:line-through;}
.small{font-size:85%;}
#yui-main .yui-g.first{margin:0;}
h1{color:#222;font-size:18px;}
h2,.h2{color:#333;font-size:100%;font-weight:bold;}
h3,.h3{font-size:100%;font-weight:bold;}
h4,.h4{font-size:85%;color:#777;}
.subtitle{color:#777;font-size:85%;margin:0;padding:0;}
div#page{padding-top:10px;background-color:#fff;min-height:150px;width:100%;}
.notes{color:#777;font-size:85%;margin-bottom:10px;background-color:#f4f4f4;border:1px solid #cdcdcd;padding:4px;}
.treemap{position:relative;cursor:pointer;}
.treemap .label{color:#fff;padding:2px;}
.warning{border:solid 1px #FFD324;background-color:#FFF6BF;color:#514721;margin:0 0 4px;padding:4px;}
.error{border:1px solid red;background-color:#FF5252;color:#eee;margin:0 0 4px;padding:4px;}
.error a{color:#eee;}
.notice{border:1px solid #9c9;background-color:#e2f9e3;color:#060;margin:0 0 4px;padding:4px;}
#login_form{border:1px solid #4b9fd5;width:230px;text-align:left;background-color:#d4e7ff;padding:15px 20px;}
#login_form h4{text-align:left;font-weight:bold;color:#036;}
#login_form p{padding:3px 0 10px;}
#login_form .desc{font-size:85%;font-weight:normal;}
.doc p{margin:10px 0;}
.doc pre,pre.code{color:#777;background-color:#efefef;padding:10px;margin:10px 0;border:1px dashed #777;font-size:93%;line-height:1.5em;}
.odd{background-color:#fff;}
.odd.selected,.even.selected,.odd.selected a,.even.selected a,.even.selected span,.odd.selected span{background-color:#4b9fd5;color:#fff;}
table.data thead th{font-size:93%;font-weight:bold;padding:3px 7px 3px 3px;}
table.data tfoot td{font-size:85%;color:#777;padding:3px 0 3px 10px;}
table.data tbody td{padding:3px 7px 3px 3px;}
table.data td.small,table.data th.small{padding:0;white-space:nowrap;}
table.data td img{padding:0 1px;}
.data thead tr.total{background-color:#eee;font-weight:normal;font-size:108%;border-bottom:1px solid silver;border-top:1px solid silver;}
.data thead tr.total th{font-weight:normal;}
.data thead tr.blank{background-color:#fff;line-height:15px;}
.hoverable:hover{background-color:#CAE3F2;}
.hoverable:hover a{color:#111;}
table.sortable .sortcol{cursor:pointer;padding-right:15px;background-repeat:no-repeat;background-position:right center;}
table.sortable .sortasc{background-image:url('../images/bullet_arrow_up.gif');background-position:right center;}
table.sortable .sortdesc{background-image:url('../images/bullet_arrow_down.gif');background-position:right center;}
table.sortable .nosort{cursor:default;}
table.spaced th{font-weight:bold;color:#333;padding:4px 5px;}
table.spaced td,table.matrix tfoot td{padding:4px 5px;}
table.spacedicon th{font-weight:bold;color:#333;padding:4px 5px;}
table.spacedicon td{padding:0 5px;height:24px;}
.thin{width:1%;}
.nowrap{white-space:nowrap;}
td.sep{width:10px;}
.resourceName h1{margin:5px 0;}
#source{margin:1px;padding:15px 2px 2px;}
#source h2{border-bottom:1px solid #dedede;margin-bottom:5px;font-size:100%;font-weight:bold;padding:0 0 5px 5px;}
#source pre{font-size:93%;text-align:left;margin-top:10px;border:1px solid #ccc;background-color:#fff;}
#source span{padding-left:4px;}
#source .error{background-color:#FF9090;border:0;color:#000;margin:0;padding:0;}
#source .warning{background-color:#FFFFAF;border:0;color:#000;margin:0;padding:0;}
#source .info{background-color:#80FF80;border:0;color:#000;margin:0;padding:0;}
#source .ln{color:#666;padding-right:4px;border-right:solid 1px #ccc;margin-right:4px;background-color:#eee;}
#source .big{font-size:100%;text-align:left;}
.gwt-SourcePanel{font-size:12px;background-color:#fff;border:1px solid silver;width:100%;}
.gwt-SourcePanel .ln{background-color:#eee;white-space:nowrap;text-align:right;color:#777;border-right:1px solid silver;padding:0 3px;height:14px;}
.gwt-SourcePanel .src{padding:0 5px;height:14px;}
.gwt-SourcePanel .val{background-color:#eee;border-right:1px solid silver;text-align:right;color:#777;padding:0 3px;height:14px;}
.gwt-SourcePanel .red{background-color:#F0C8C8;}
.gwt-SourcePanel .orange{background-color:#FFF6BF;color:#514721;}
.gwt-SourcePanel .green{background-color:#ACE97C;}
.gwt-SourcePanel .msg{font-family:sans-serif;vertical-align:top;padding:3px 0;height:1.3em;background-position:5px 1px;background-repeat:no-repeat;}
.gwt-SourcePanel .bigln{font-family:sans-serif;vertical-align:top;padding:3px 0;height:1.6em;background-position:5px 1px;background-repeat:no-repeat;background-color:#eee;}
.gwt-SourcePanel .warn{font-family:sans-serif;vertical-align:top;background-color:#FFFFC9;border:1px solid #DCDCDC;border-top:none;color:black;line-height:1.6em;margin:0;padding:0 0 2px 5px;}
.gwt-SourcePanel .msg.error{background-image:url("../images/exclamation.png");}
.gwt-SourcePanel .msg.warning{background-image:url("../images/warning.png");}
.gwt-SourcePanel .msg.BLOCKER{padding:1px 5px 1px 25px;background-image:url("../images/priority/BLOCKER.gif");background-color:#FF5252;color:#eee;border:1px solid red;margin:1px 0 1px 5px;height:100%;}
.gwt-SourcePanel .msg.CRITICAL{padding:1px 5px 1px 25px;background-image:url("../images/priority/CRITICAL.gif");background-color:#FF5252;color:#eee;border:1px solid red;margin:1px 0 1px 5px;height:100%;}
.gwt-SourcePanel .msg.MAJOR{padding:1px 5px 1px 25px;background-image:url("../images/priority/MAJOR.gif");background-color:#FF5252;color:#eee;border:1px solid red;margin:1px 0 1px 5px;height:100%;}
.gwt-SourcePanel .msg.MINOR{padding:1px 5px 1px 25px;background-image:url("../images/priority/MINOR.gif");background-color:#FFF6BF;border:1px solid #FFD324;margin:1px 0 1px 5px;height:100%;}
.gwt-SourcePanel .msg.INFO{padding:1px 5px 1px 25px;background-image:url("../images/priority/INFO.gif");background-color:#FFF6BF;border:1px solid #FFD324;margin:1px 0 1px 5px;height:100%;}
.gwt-ViewerHeader{background-color:#eee;border:1px solid silver;border-top:none;margin-bottom:8px;color:#777;vertical-align:bottom;}
.gwt-ViewerHeader .metric{padding:8px 2px 4px 10px;font-size:93%;text-align:right;font-weight:bold;}
.gwt-ViewerHeader .value{padding:8px 20px 4px 2px;font-size:93%;text-align:left;font-weight:normal;}
.gwt-ViewerHeader .cell{padding:3px 10px;}
.gwt-ViewerHeader .big{padding:4px 10px 2px 10px;font-size:152%;font-weight:bold;}
.page_title{margin:0 0 7px 0;}
.widget{border:1px solid silver;margin-bottom:10px;clear:both;padding:8px 5px 5px 8px;}
.color_OK{background-color:#6ec563;color:#fff;}
.color_WARN{background-color:#ff8500;color:#fff;}
.color_ERROR{background-color:#f93f40;color:#FFF;}
#alerts_widget{margin-bottom:10px;padding:5px 5px 5px 10px;}
#alerts_widget img{vertical-align:bottom;}
.dashbox{float:left;vertical-align:top;text-align:left;min-width:60px;padding:0 7px 7px 0;}
.big{font-size:152%;font-weight:bold;}
.adminportlet{border:2px dashed #ccc;margin-bottom:10px;padding:10px;}
.help{border:1px solid #ccc;background-color:#eee;color:#444;padding:10px;}
.help h2{padding-left:23px;color:#444;vertical-align:bottom;font-weight:bold;background-repeat:no-repeat;background-position:left center;background-image:url('../images/information.png');}
.help p{padding:5px 0;}
.admintable{border:solid 1px #FFD324;background-color:#FFF6BF;color:#111;}
.admintable td{padding:5px 10px;}
.admintable span.desc{font-size:85%;font-weight:normal;}
.box{border:1px solid silver;background-color:#efefef;margin-bottom:5px;color:#555;padding:10px;}
.box a,.box a:visited{color:#555;}
.admin{border:solid 1px #FFD324;background-color:#FFF6BF;color:#514721;margin-bottom:5px;padding:5px;}
.admin h3{font-size:100%;text-align:left;font-weight:bold;color:#333;padding:5px 10px;}
.column{vertical-align:top;text-align:left;padding:0 0 0 10px;}
.column.first{padding:0;}
.column h3{padding:3px 0;}
.scrollable{height:144px;overflow:auto;border:1px solid #ccc;margin-right:17px;}
html>body .scrollable{margin-right:0;}
.red{color:#8B0000;}
.green{color:#050;}
ul.bullet{list-style-image:url("../images/bullet.png");margin:3px 0 3px 25px;}
ul.bullet li{padding:2px 0;}
.rule_title{font-size:110%;}
.tabs{line-height:1.8em;border-bottom:1px solid #ccc;vertical-align:bottom;font-size:85%;}
.tabs .tab{font-weight:normal;text-decoration:none;color:#777;background-color:#FFF;vertical-align:middle;white-space:nowrap;margin-right:5px;border-color:#ccc;border-style:solid solid none;border-width:1px 1px medium;padding:.3em .6em;}
.tabs .tab.selected{font-weight:bold;background-color:#eee;vertical-align:middle;white-space:nowrap;border-color:#ccc;border-style:solid solid none;border-width:1px 1px medium;}
.tabs .right{float:right;font-size:100%;margin:0;}
.smalltabs{line-height:1.5em;border-bottom:1px solid #ccc;vertical-align:bottom;font-size:85%;}
.smalltabs .tab{font-weight:normal;text-decoration:none;color:#777;background-color:#FFF;border:1px solid silver;border-bottom:0;vertical-align:middle;white-space:nowrap;margin-right:5px;padding:.1em .5em;}
.smalltabs .tab.selected{font-weight:bold;background-color:#EEE;}
.smalltabs .tab.selected a{text-decoration:none;background-color:#EEE;color:#777;}
.smalltabs .tab a{text-decoration:none;background-color:#FFF;color:#777;}
.smalltabs .tab a:visited{text-decoration:none;}
.smalltabs .tab.selected a:visited{text-decoration:none;}
.tabbed{border:1px solid silver;border-top:0;padding:5px;}
#time_machine{margin:10px 0;}
#time_machine #selected{background-image:url("../images/timemachine.png");background-repeat:repeat-x;background-position:left;background-color:#9D9D9D;border:2px solid #ccc;color:#fff;}
#time_machine #selected a{border-bottom:1px dotted #fff;}
#time_machine #selected a.nolink{border-bottom:0;}
#time_machine #selector{background-color:#eee;border:1px solid #ccc;}
.comments{color:#777;font-size:93%;margin-bottom:10pxx;padding:4px;}
.little{font-size:80%;}
.tooltip{position:absolute;background-color:#CAE3F2;border:1px solid #4b9fd5;max-width:480px;text-align:left;color:#262626;}
.tooltip .content{color:#111;padding:4px;}
.tooltip .title{color:#111;font-weight:bold;font-size:100%;padding:2px 4px;}
.tooltip td{margin:0;padding:2px;}
.tooltip p{margin:0;padding:0;}
.alert_WARN{background-color:#ff8500;color:#fff;margin:0;padding:0 3px;}
.alert_ERROR{background-color:#f93f40;color:#fff;margin:0;padding:0 3px;}
#comparison span.best{font-size:108%;font-weight:bold;}
.gwt-TabBar{font-size:93%;width:100%;border-bottom:1px solid #ccc;}
.gwt-TabBarFirst{width:0;}
.gwt-TabBar .gwt-TabBarItem{cursor:pointer;font-weight:normal;text-decoration:none;color:#777;background-color:#FFF;border:1px solid silver;border-bottom:none;vertical-align:middle;white-space:nowrap;padding:.3em .6em;}
.gwt-TabBar .gwt-TabBarItem-wrapper{padding:0 5px 0 0;}
.gwt-TabBar .gwt-TabBarItem-selected{cursor:default;font-weight:bold;text-decoration:none;color:#333;background-color:#EEE;border:1px solid silver;border-bottom:none;vertical-align:middle;white-space:nowrap;padding:.3em .6em;}
.gwt-TabPanelBottom{width:100%;}
.rule_desc{color:#333;padding:2px 0 15px 0;}
.rule_desc li{list-style:disc outside;padding:2px;}
.rule_desc ul{list-style:none outside;padding-left:30px;}
.rule_desc pre,.rule_desc p{padding:7px;}
.rule_desc pre{margin:10px 0;font-family:"Courier New",Courier,monospace;;border:1px dashed #aaa;font-size:93%;}
.tip:hover{background:#FFF;position:relative;z-index:100;}
.tip span{display:none;margin-left:-20px;padding:4px 5px;}
.tip:hover span{display:inline;position:absolute;background:#CAE3F2;border:1px solid #4b9fd5;color:#262626;white-space:nowrap;text-decoration:none;}
.hbar{float:left;border:none;clear:both;width:4em;margin:0;padding:2px 0 0;}
.hbar li{background-color:#777;color:#FFF;font-family:Verdana,Tahoma,Arial,sans-serif;font-size:xx-small;letter-spacing:-0.075em;list-style:none;line-height:1.1em;text-align:right;vertical-align:middle;padding:.1em;}
div.barchart{border:0;margin:0;padding:0 5px;float:left;}
div.barchart>div{background-color:#4B9FD5;height:.9em;}
table.matrix thead{background-color:#CAE3F2;border:1px solid #4b9fd5;}
table.matrix thead th{text-align:right;border-right:1px solid #4b9fd5;padding:4px 5px;}
table.matrix tbody td{border:1px solid #ddd;margin:0;padding:4px 5px;}
table.matrix tbody td.title{border:none;font-weight:bold;margin:0;padding:5px 0 0 5px;}
#ftlinks a,a{color:#333;}
a.nolink,.dashbox a,.dashbox a:visited,.tabs .tab.selected a,.tabs .tab a{text-decoration:none;}
a.nolink:hover,.dashbox a:hover,.dashbox a.action,.dashbox a.action:visited{text-decoration:underline;}
h1 strong,.dashbox .title,.gwt-SourcePanel .sources .msg li strong{font-weight:bold;}
h4 a,h4 a:visited,.gray,table.data tfoot a,table.data tfoot a:visited{color:#777;}
.even,table.sortable tr.rowodd{background-color:#eee;}
.bordered,table.data thead,table.data tbody{border-bottom:1px solid silver;}
table.data,table.spaced,.gwt-SourcePanel .sources{width:100%;}
.hoverable.selected a,#time_machine #selected h3,#time_machine #selected a{color:#fff;}
#time_machine td,.gwt-SourcePanel .sources td{vertical-align:top;}.code{font-size:12px;}
.code pre{font-family:Monospace;margin:0;padding:0 5px;color:#111;margin:0;}
.code .a{color:#808000;}
.code .c{color:#660E80;font-style:italic;font-weight:bold;}
.code .j{color:#666;font-style:normal;}
.code .cd{color:#666;font-style:italic;}
.code .cppd{color:#666;font-style:italic;}
.code .k{color:#000080;font-weight:bold;}
.code .s{color:#008000;font-weight:bold;}